* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.Form {
  width: 30em;
  height: 2.5em;

  form {
    width: 100%;
    height: 100%;

    input {
      width: 70%;
      height: 100%;
      padding-left: 0.5em;
      font-size: 1em;
    }
    button {
      width: 30%;
      height: 100%;
    }
  }
}

.Student-section {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.All-Student,
.Present-Student,
.Absent-Student {
  width: 32%;
  border-right: 1px solid #34495e;
  border-left: 1px solid #34495e;
  border-top: 1px solid #34495e;
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    font-size: 2em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      width: 55%;
      height: 1.5em;
    }
    span {
      width: 42%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      height: 2em;
      font-size: 0.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
}
